<ion-view class="bar-assertive" view-title="About">
  <ion-content overflow-scroll="true">
    <div class="width-100">
      <div class="maxwidth-500">
        <p>
          This app was created by volunteers from the
          <a href="http://lwvbae.org/" onclick="window.open(this.href, '_system'); return false;">League of Women Voters Berkeley-Albany-Emeryville</a>.
          Our goal is to make registering to vote as easy as possible for
          everyone.
        </p>
        <p>
          It also uses the
          <a href="https://github.com/trustthevote/Rocky" onclick="window.open(this.href, '_system'); return false;">Rock the Vote API</a>
          to generate voter registration form pdfs.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
