<ion-view class="bar-assertive" view-title="Home">
  <ion-content overflow-scroll="true">
    <div class="valign-middle-90 center">
      <div class="maxwidth-500">
        <div>
          Registering to vote takes less than 3 minutes!
          <br/>
          <a class="button button-block button-assertive" href="#/register">
            Register to Vote
          </a>
        </div>
        <div>
          <br/>
          <br/>
          Already registered?
          <br/>
          <a class="button button-block button-outline button-assertive" href="#/home">
            Invite others to register
          </a>
        </div>
      </div>
    </div>
    <div class="home-footer">
      Created by the <a href="#/about">League of Women Voters BAE</a>
      and <a href="#/about">Rock the Vote</a>.
    </div>
  </ion-content>
</ion-view>
